In [2]:
import sqlite3 as sql
conn = sql.connect("DBName.db")
cur = conn.cursor()

In [4]:
cur.execute("CREATE TABLE sample_table (var1 VARCHAR(100), var2 INT, var3 BOOL, PRIMARY KEY(var1));")

In [5]:
cur.fetchall()

[]

In [6]:
cur.execute("INSERT INTO sample_table VALUES (?, ?, ?);", ["test", 7, 1])

In [7]:
cur.fetchall()

[]

In [8]:
cur.execute("SELECT * FROM sample_table")
cur.fetchall()

[('test', 7, 1)]

In [9]:
conn.commit()