In [1]:
import sqlite3 as sql
conn = sql.connect("main.db")
cursor = conn.cursor()

In [2]:
cursor.execute("SELECT * FROM Content")
cursor.fetchall()

OperationalError: no such table: Content

In [21]:
# creating user table
cursor.execute("""CREATE TABLE Users (
                Username VARCHAR(100) PRIMARY KEY, 
                Password VARCHAR(100), 
                FirstName VARCHAR(100), 
                LastName VARCHAR(100)
               );""")

In [25]:
# creating question table
cursor.execute("""CREATE TABLE Questions (
                QuestionID INTEGER PRIMARY KEY AUTOINCREMENT,
                Question VARCHAR(100),
                Company VARCHAR(100),
                Points INT,
                CorrectChoice VARCHAR(100),
                IncorrectOne VARCHAR(100),
                IncorrectTwo VARCHAR(100),
                IncorrectThree VARCHAR(100)
                );""")

In [3]:
# creating content table 
cursor.execute(""" CREATE TABLE Content (
                CompanyName VARCHAR(100) PRIMARY KEY,
                Content TEXT

);""")

In [70]:
cursor.execute("""INSERT INTO Questions 
                (Question, Company, Points, CorrectChoice, IncorrectOne, IncorrectTwo, IncorrectThree) 
                VALUES 
               ('What is Google''s average trading volume?', 'Google', '4', '20.9mn', '15.28mn', '32.4mn', '45.93mn')""")
conn.commit()

In [71]:
cursor.execute("SELECT * FROM Questions WHERE Company='Google'")

len(cursor.fetchall())

8

In [26]:
# creating score table
cursor.execute("""CREATE TABLE Scores (
               Username VARCHAR(100) PRIMARY KEY,
               Points INT
                );""")

OperationalError: table Scores already exists

In [27]:
def register(username:str, password:str, fName:str, lName:str) -> str:
    cursor.execute(f"SELECT * FROM Users WHERE Username=?;", [username])
    if len(cursor.fetchall()) > 0 :
        return "Username already exists."
    else:
        cursor.execute("INSERT INTO Users VALUES (?, ?, ?, ?);", [username, password, fName, lName])
        cursor.execute("INSERT INTO Scores VALUES (?,?);", [username, 0])
        conn.commit()
        return "Successful"

In [10]:
# Adding content
cursor.execute("""INSERT INTO Content VALUES ('Walmart', 
'''Walmart'', the multinational retail giant, had its Initial Public Offering (IPO) on October 1st, 1970, marking a significant milestone in its journey from a single discount store to a global retail powerhouse. Founded by Sam Walton, the company''s ethos of providing "Everyday Low Prices" has been a driving force behind its success. With 53% of its stock floated and 34% institutionally owned, Walmart''s ownership structure reflects both individual and institutional confidence in its enduring business model. The company, known for its extensive range of products, efficient supply chain, and expansive store network, has undergone nine stock splits, demonstrating its consistent growth and shareholder value creation.

In terms of financial performance, Walmart''s 52-week high at $166.61 highlights its capacity to attract investor interest and maintain a robust market position. Conversely, the 52-week low at $136.09 underscores its resilience in the face of market fluctuations. At the helm is CEO Doug McMillon, who has played a pivotal role in steering Walmart through the challenges and opportunities of the ever-evolving retail landscape. Notably, Walmart''s average trading volume of 10.1 million shares per day emphasizes its significance in the stock market and the ongoing interest it garners from investors worldwide.''');""")

In [12]:
conn.commit()
cursor.execute("SELECT * FROM Content")
len(cursor.fetchall())

5